<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.blazers.app.doctor" >

    <!-- Share SDK -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- <uses-permission android:name="android.permission.GET_TASKS" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Bmob -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- Bomb talk -->
    <permission
            android:name="cn.bmob.permission.push"
            android:protectionLevel="normal" >
    </permission>

    <uses-permission android:name="cn.bmob.permission.push" />

    <!-- Baidu Map -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- http://www.cnblogs.com/kangyi/p/4409221.html -->
    <!-- Application -->
    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            tools:replace="android:icon, android:theme" >

        <!-- Sugar Database -->
        <meta-data
                android:name="DATABASE"
                android:value="blazers_doctor.db" />
        <meta-data
                android:name="VERSION"
                android:value="1" />
        <meta-data
                android:name="QUERY_LOG"
                android:value="true" />
        <meta-data
                android:name="DOMAIN_PACKAGE_NAME"
                android:value="com.blazers.app.doctor.DatabaseModel" />

        <!-- Baidu MAP -->
        <meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="QRo0gqLpUXfcRGh1Us3yVGZN" />

        <!-- 登录界面 -->
        <activity
                android:name=".ui.activity.LoginActivity"
                android:theme="@style/LoginTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity
                android:name=".ui.activity.MainActivity"
                android:label="@string/app_name" >
        </activity>
        <!-- 注册界面 -->
        <activity
                android:name=".ui.activity.register.RegisterActivity"
                android:label="@string/title_activity_register"
                android:theme="@style/RegisterTheme" >
        </activity>
        <!-- 预约界面 -->
        <activity
                android:name=".ui.activity.appointment.MakeAppointment"
                android:label="@string/title_activity_make_appointment" >
        </activity>
        <!-- 健康指南界面 -->
        <activity
                android:name=".ui.activity.tips.SmallTips"
                android:label="@string/title_activity_small_tips" >
        </activity>
        <!-- 在线询诊的聊天界面 -->
        <activity
                android:name=".ui.activity.diagnose.OnlineDiagnose"
                android:label="@string/title_activity_chat_online" >
        </activity>
        <activity
                android:name=".ui.activity.call.PhoneCall"
                android:label="@string/title_activity_phone_call" >
        </activity>
        <activity
                android:name=".ui.activity.medicine.MedicineAlert"
                android:label="@string/title_activity_medicine_alert" >
        </activity>
        <activity
                android:name=".ui.activity.heart.CheckHeartRate"
                android:label="@string/title_activity_check_heart_rate" >
        </activity>
        <activity
                android:name=".ui.activity.cardiograph.DoctorSeeImage"
                android:label="@string/title_activity_doctor_see_image" >
        </activity>
        <activity
                android:name=".ui.activity.diagnose.DoctorOnlineChat"
                android:label="@string/title_activity_doctor_online_chat" >
        </activity>
        <activity
                android:name=".ui.activity.hospital.HospitalAroundMe"
                android:label="@string/title_activity_hospital_around_me" >
        </activity>
        <activity
                android:name=".ui.activity.social.NewFriendActivity"
                android:label="@string/title_activity_new_friend" >
        </activity>
        <activity
                android:name=".ui.common.ImageViewerActivity"
                android:label="@string/title_activity_image_viewer"
                android:theme="@style/FullScreen" >
        </activity>

        <!-- TODO: 增加分享图片给医生的接口！ -->
        <activity
                android:name=".share.ShareToDoctor"
                android:label="@string/title_activity_share" >
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT" />

                <action android:name="ANDROID.INTENT.ACTION.VIEW" />
                <action android:name="ANDROID.INTENT.ACTION.SEND" />
                <action android:name="ANDROID.INTENT.ACTION.SEND_MULTIPLE" />
                <action android:name="ANDROID.INTENT.ACTION.SENDTO" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <!-- Share SDK SMS -->
        <activity
                android:name="com.mob.tools.MobUIShell"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- Share SDK CHAT -->


        <!-- IM聊天所需的Push start -->
        <service
                android:name="cn.bmob.push.lib.service.PushService"
                android:exported="true"
                android:label="PushService"
                android:permission="cn.bmob.permission.push"
                android:process="cn.bmob.push" >
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService" />
            </intent-filter>
        </service>

        <receiver android:name="cn.bmob.push.PushReceiver" >
            <intent-filter android:priority="2147483647" > <!-- 优先级加最高 -->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- 聊天消息接收器 -->
        <receiver
                android:name=".receiver.ChatMessageReceiver"
                tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver>
        <!-- IM聊天所需的Push end -->


        <!-- 个性功能中的启动定时检测服务，可选功能 -->
        <service
                android:name="cn.bmob.im.poll.BmobPollService"
                tools:ignore="ExportedService" >
            <intent-filter>
                <action android:name="cn.bmob.im.service.BmobPollService" />
            </intent-filter>
        </service>

        <!-- Baidu Location -->
        <service
                android:name="com.baidu.location.f"
                android:enabled="true"
                android:process=":remote" />

        <activity
                android:name=".test.TestActivity"
                android:label="@string/title_activity_test" >
        </activity>
        <activity
                android:name=".ui.activity.register.LostMyPassword"
                android:label="@string/title_activity_lost_my_password" >
        </activity>
    </application>

</manifest>
