<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blazers.app.doctor" >

    <!-- Share SDK-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Bmob-->
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="blazers_doctor.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.blazers.app.doctor.DatabaseModel" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/LoginTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activity.Register.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/RegisterTheme" >
        </activity>
        <activity
            android:name=".MainStage"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".Activity.Appointment.MakeAppointment"
            android:label="@string/title_activity_make_appointment" >
        </activity>
        <activity
            android:name=".Activity.SmallTips.SmallTips"
            android:label="@string/title_activity_small_tips" >
        </activity>
        <activity
            android:name=".Activity.OnlineDiagnose.OnlineDiagnose"
            android:label="@string/title_activity_chat_online" >
        </activity>
        <activity
            android:name=".Activity.PhoneCall.PhoneCall"
            android:label="@string/title_activity_phone_call" >
        </activity>
        <activity
            android:name=".Activity.MedicineAlert.MedicineAlert"
            android:label="@string/title_activity_medicine_alert" >
        </activity>
        <activity
            android:name=".Activity.HeartRate.CheckHeartRate"
            android:label="@string/title_activity_check_heart_rate" >
        </activity>
        <activity
            android:name=".Activity.DoctorSeeImage.DoctorSeeImage"
            android:label="@string/title_activity_doctor_see_image" >
        </activity>
        <activity
            android:name=".Activity.OnlineDiagnose.DoctorOnlineChat"
            android:label="@string/title_activity_doctor_online_chat" >
        </activity>

        <!-- Share SDK SMS-->
        <activity
                android:name="com.mob.tools.MobUIShell"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>
